*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/prod/release/app-prod-release.aab
/app/qa/release/app-qa-release.apk
/app/qa/release/baselineProfiles/0/app-qa-release.dm
/app/qa/release/baselineProfiles/1/app-qa-release.dm
/app/qa/release/output-metadata.json
